<div class="container border mt-2 p-2">
  <h3>
    <%= post.title %>
  </h3>
  <p>
    <%= post.text %>
  </p>
  <div class="text-end d-flex gap-2 justify-content-end px-2">
    <p>
      Comments: <%= post.comments_counter %>
    </p>
    <p>
      Likes: <%= post.likes_counter %>
    </p>
  </div>
</div>