<div class="container border p-2 d-flex gap-2">
  <%= image_tag("default_profile_picture.png", class:"img-thumbnail", size:"200", alt: "user", style:"width: 200px; height: 200px; object-fit:contain" ) %>
  <%= link_to(user_path(user), class:"container border p-2 d-flex") do %>
    <div class="container border p-2 d-flex">
      <h3 class="flex-grow-1 align-self-center px-4">
        <%= user.name %>
      </h3>
      <p class="align-self-end px-2">
        Number of posts: <%= user.posts_counter %>
      </p>
    </div>
  <% end %>
</div>