<div class="container my-2 d-flex flex-column gap-4">
  <%= render 'fragments/user_tag', user: @user %>
  <%= render 'fragments/bio', user: @user %>

  <h2>Recent posts:</h2>
  
  <% @latest_posts.each do |p| %>
    <%= render 'fragments/post_preview', post: p %>
  <% end %>
  <%= button_to "See all posts", user_posts_path(@user.id), :method => :get %>
</div>
