<div class="container border p-2">
  <div class='d-flex justify-content-between'>
    <h3>
      <%= @post.title %>
    </h3>
    <div class="text-end d-flex gap-2 justify-content-end px-2">
      <p>Comments: x</p>
      <p>Likes: y</p>
    </div>
  </div>
  <p>
    <%= @post.text %>
  </p>
</div>