<div class="container my-2 d-flex flex-column gap-4">
  <%= render 'layouts/shared/user_tag', user: @user%>
  <div class="container d-flex-column gap-2">
  
  <h2>All posts:</h2>
  <br>

  <% @posts.each do |p| %>
    <%= render 'layouts/shared/post_preview', post: p %>
    <% unless p.latest_comments.empty? %>
      <div class='container border mt-1'>
      <% p.latest_comments.each do |c| %>
        <%= render 'layouts/shared/comment', comment: c %>
      <% end %>
      </div>
      <br>
    <% end %>
  <% end %>
  </div>
  
</div>